@page "/character/{Id:int}"
@using CharacterCreation.Shared.Models;
@inject HttpClient Http

<h1>Character</h1>

<div>@character.Name</div>


@code {
    [Parameter]
    public int Id { get; set; }
    CharacterDto character { get; set; } = new CharacterDto();

    protected override async Task OnInitializedAsync()
    {
        character = await Http.GetJsonAsync<CharacterDto>($"api/characters/{Id}");
    }
}